# Xcode
.DS_Store
build/
DerivedData/
*.xcuserdata
*.xcuserdatad
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
/.build/
Packages/
.swiftpm/xcode/package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# macOS
*.DS_Store

# Xcode workspace / project settings that are user-specific
xcuserdata/